.statline {
  position: relative;

  &::after {
    @apply bg-rb-cotton-seed;
    content: '';
    position: absolute;
    width: 1px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;

    @media (min-width: 1024px) {
      left: 100%;
      /* transform: translate(32px, -50%); */
      visibility: visible;
    }
  }

  &:last-child::after {
    visibility: hidden;
  }

  @media (max-width: 767px) {
    &::after {
      content: '';
      position: relative;
      display: block;
      width: 100%;
      height: 0;
      margin-top: 13px;
      border-bottom: 0.56px solid #11101026;
      transform: none;
      visibility: visible;
      background-color: #11101026;
      opacity: 1;
    }

    &:last-child::after {
      display: none;
    }

    &:first-child::before {
      content: '';
      position: relative;
      display: block;
      width: 100%;
      height: 0;
      margin-bottom: 35px;
      border-bottom: 0.56px solid #11101026;
      transform: none;
      visibility: visible;
      background-color: #11101026;
      opacity: 1;
    }

    &:last-child {
      &::after {
        content: '';
        position: relative;
        display: block;
        width: 100%;
        height: 0;
        margin-top: 13px;
        border-bottom: 0.56px solid #11101026;
        transform: none;
        visibility: visible;
        background-color: #11101026;
        opacity: 1;
      }
    }
      &:first-child {
      &::after {
        position: relative;
        top:10px;
      }
    }
  }
}