.offeringcard {
  transition:
    background-color 0.3s,
    color 0.3s;

  .successcheck {
    background-image: url('/img/services/crew/success-check.svg');
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    transition: background-image 0.3s;
    background-size: cover;
    margin-top: 2px;
  }
  .arrowcontainer {
    display: none;
  }
  @media (min-width: 768px) {
    &:hover {

      .arrowcontainer {
        display: inline-block;
        height: 20px;
        width: 25px;
        margin-left: 10px;
        transition: background-image 0.3s;
        // transform: scale(1.3);
      }
    }
  }
}

.successcheckStatic {
  background-image: url('/img/red-check.svg');
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
